.cart-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
}

.cart-item-container p {
    vertical-align: middle;
    margin-bottom: 0px;
    font-weight: 700;
}

.cart-quantity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cart-quantity-container p {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0px;
}
.cart-item-image{
    max-width: 80px;
    max-height: 100px;
    object-fit: cover;
    margin: 5px 0 5px 0;
}
.cart-item-product-name-div {
    width: 160px;
    text-align: left !important;
}
.cart-item-product-name {
    overflow: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cart-item-product-name:hover {
    cursor: pointer;
    text-decoration: underline;
}
.cart-item-price {
    width: 60px;
}
.cart-quantity {
    margin: 0 10px 0 10px;
}
.cart-button-div {
    width: 25px;
    height: 25px;
}
.cart-button-div button {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    vertical-align: middle;
    line-height: 0px;
    font-weight: 500;
    border:none;
}
.cart-quantity-button-subtract{
    background-color: #f2cb88;
}
.cart-quantity-button-subtract:disabled{
    background-color: #E5E4E2;
}
.cart-quantity-button-add{
    background-color:#c2f2cf;
}
.cart-remove-item-button{
    background-color: #ed4a4a;
}