.rowContainer  {
    gap:.2rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding-block:.5rem;
    margin-inline:auto;
    border-bottom: 1px #c49e64;
    max-width:80%;
}

.categoryImg2 {
    width: 200px !important; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}

.categoryImg {
object-fit: cover;
border-radius: 55;
}