h2 {
    text-align: left;
    margin-left: 20;
  }
  
  h3 {
    text-align: right;
    margin-right: 20;;
  }

  /* .carousel-inner{
    height: 200px;
    width: 30px;
} */

.container-hero{
  max-width: 1000px;
  margin: auto;
}

.flex-container {
  display: flex;
  
  flex-direction: row;
}

.flex-container > div{
  background-color: white;
  width: 1000px;
  /* margin: 100px; */
  text-align: center;

  line-height: 275px;
  font-size: 30px;
}

