
.hero{
  max-width: 1000px;
  margin: auto;
}

.text{
  display: flex;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.container-left , .container-right{
  width: 500px;
}

.container-left {
  display: flex;
  align-items: center;
  
}

.container-right{
  font-size: 1.5em;
}

.container-left h2{

  font-size: 4em;
  font-family: 'Lobster', cursive;
}