.header-category {
  text-align: center;
  margin-top: 10px;
}

.container-category {
  margin: auto;
  margin-top: 15px;
  width: 1000px;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(3, 1fr);
}

.container-category img:hover {
  cursor: pointer;
}

.container-category h6 {
  height: 10%;
  margin: 0;
}

.img {
  object-fit: cover;
  height: 90%;
  width: 100%;
}

.container-category a {
  display: block;
  height: 300px;
  color: rgb(40, 52, 85);
  text-decoration: none;
}
