.header-our-stores {
  text-align: center;
  margin-top: 10px;
}

.container-our-stores {
  margin: auto;
  margin-top: 15px;
  width: 1000px;
  height: 500px;
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(3, 1fr);
}

.container-our-stores p {
  font-size: 16px;
  padding: 5px;
}

.container-our-stores h2 {
  height: 10%;
  margin: 0;
}

.img {
  object-fit: cover;
  height: 90%;
  width: 100%;
}

.container-our-stores a {
  display: block;
  height: 300px;
  color: rgb(40, 52, 85);
  text-decoration: none;
}
