.ProductCard {
  & .star-rating {
    display: flex;
    justify-content: center;
  }
}

.product-card-p {
  margin: 0;
  text-align: center;
}

.productImage {
  object-fit: cover;
  height: 90%;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}
