*{
    box-sizing:border-box;
    }

    body{
    margin:0;
    }
    
    .header{
    background-color: #dde3ec;
    color: #283455;
    font-family: "Roboto";
    border-bottom:1px solid#595555;
    position:sticky;
    padding-top:26px;
    padding-bottom:26px;
    padding-left:35px;
    padding-right:35px;
  
    }
    .navbar.navbar {
        background-color: #dde3ec;
        display:flex;
        justify-content:space-between;
    }
    button{
    background:none;
    border:none;
    }
    .nav a{
    color:inherit;
    height:100%;
    display:flex;
    align-items:center;
    padding:.25rem;
    }
    a.navbar-brand{
    font-size:2rem;
    font-family:'Lobster',cursive;
    font-weight: bold;
    color: #283455;
    text-decoration:none;
    margin: 10px 20px;
    }

.header-seacher {
    margin-right: 8rem;
}
    
   
    .navbar-menu-toggler{
    margin-left:50px;
    }
    
    .navbar-menu-toggler img{
    cursor:pointer;
    font-size:36px;
    }
    