.container-shopView {
  margin: auto;
  margin-top: 15px;
  width: 1000px;
  display: grid;
  column-gap: 1.5em;
  row-gap: 3em;
  grid-template-columns: repeat(3, 1fr);
}

.shopViewPage-product {
  /* border: 1px solid black; */
  /* padding: 20px; */
  font-size: 14px;
}

.shopViewPage-product a {
  text-decoration: none;
}
