.h-2 {
    margin-bottom: 4rem;
    margin-left: 5rem;
}

.menu-category {
    font-size: 40px;
    line-height: 46px;
    color: #283455;
    font-family: "ToledoTS";
    font-weight: bold;
    cursor: pointer;
    text-align:left;
    
  
}

.menu-category:active{
    text-decoration: underline;
  }